{% extends "index.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/train.css">
  <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}   

{% block body %}
  <style>
  .wrapper {
      text-align: center;
  }

  .button {
      position: absolute;
      top: 50%;
  }
  </style>
  
  <div class="wrapper">

      <section class="main-controls">
        <div align="center" class="row">
          <div class="column left">
            <img class="animated fadeInLeft" src="static/images/chirpfull.png" alt="Logo" style="width:250px;height:250px;margin: 0px -20px" align="left">
          </div>

          <div class="column center">
            <canvas class="visualizer animated fadeInDown" style="width:500px;height:150px;" align="left"></canvas>
            <div id = "feed" style="display: block;"">
              <ul> 
                <li>
                  <div class="box" style="margin-bottom: 10px;">
                    <p align="left"><font size="5" style="color:#1343ae;margin-bottom: 5px;">Chirp is getting your feed...</font></p>

                  </div>
                </li>
              </ul>

            </div>
          </div>

          <div class="column right">
            <p class="animated fadeInRight"><input type="image" src="static/images/trainbutton.png" name="train" class="train" id="train" style="width:125px;height:45px;margin: 25px 0px" align="right"></p>
            <input type="image" src="static/images/loading.gif" visibility="hidden" name="load" class="load animated fadeInRight" id="load" style="width:55px;height:45px;margin: 25px 20px" align="right">
          </div>
        </div>
      </section>
          


    </div>


{% endblock %}

{% block scripts %}
  <script src="/static/lib/WebAudioRecorder.js"></script>
  <script src="/static/scripts/WavAudioEncoder.js"></script>
  <script src="/static/scripts/Queue.src.js"></script>
  <script src="/static/scripts/home.js"></script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% endblock %}