{% extends "index.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/train.css">
{% endblock %}   

{% block body %}
  <style>
  .wrapper {
      text-align: center;
  }

  .button {
      position: absolute;
      top: 50%;
  }
  </style>
  
  <div class="wrapper">

      <section class="main-controls">
        <img class="animated fadeInLeft" src="static/images/bird.png" alt="Logo" style="width:500px;height:250px;">
        <img class="animated fadeIn" src="static/images/chirptext.png" alt="Logo" style="width:500px;height:100px;">
      </section>
        <p class="porter" style="color:#42ccff"><font size="40">Sign in:</font></p>
        <div id = "train"><b></b></div>
        <br></br>
        <form action = "" method = "post">
            <input class="animated fadeInUp" type="image" src="static/images/twitter_signin.png" name="login" class="login" id="loginbutton" />
        </form>

      </section>

      

    </div>
    <!-- <script src="/static/scripts/login.js"></script> -->


{% endblock %}

