{% extends "index.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/train.css">
{% endblock %}   

{% block body %}
  <style>
  .wrapper {
      text-align: center;
  }

  .button {
      position: absolute;
      top: 50%;
  }
  </style>
  
  <div class="wrapper">

      <section class="main-controls">
        <header>
          <h1>Training</h1>
        </header>
        <p>Read This:</p>
        <br></br>
        <div id = "train"><b>trainingArticle</b></div>
        <br></br>
        <script type="text/javascript"> 
          var articleText = {{ articles|tojson }}; </script>
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
          <button class="send">Send</button>
          <button class="test">Test</button>
        </div>
        <section class="sound-clips">


        </section>
        <button class="finish">Finish</button>
      </section>

      

    </div>

    <script src="/static/scripts/train.js"></script>

{% endblock %}