{% extends "index.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/train.css">
  <script src="/static/lib/WebAudioRecorder.js"></script>
  <script src="/static/scripts/WavAudioEncoder.js"></script>
{% endblock %}   

{% block body %}
  <style>
  .wrapper {
      text-align: center;
  }

  .button {
      position: absolute;
      top: 50%;
  }
  </style>
  
  <div class="wrapper">

      <section class="main-controls">
        <img src="static/images/chirpfull.png" alt="Logo" style="width:400px;height:400px;" align="left">
        <p class="porter" style="margin: 40px 0px"><font size="40" style="color:#13438e;">Training </font><font size="40" style="color:#42ccff">Read This:</font></p>
        <div id = "train"></div>
        <br></br>
        <script type="text/javascript"> 
          var articleText = {{ articles|tojson }}; </script>
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
          <button class="send">Send</button>
        </div>
        <div><img src="static/images/TrainInstructions.png" alt="Logo" style="width:1000px;height:60px;" align="middle"></div>
        <section class="sound-clips">


        </section>
        <div id="buttons">
          <button class="finish">Finish</button>
          <button class="quit">Save and Quit</button>
          
        </div>
        
      </section>

      

    </div>

    <script src="/static/scripts/train.js"></script>

{% endblock %}