{% extends "index.html" %}

{% block head %}
  <link rel="stylesheet" href="/static/css/train.css">
{% endblock %}   
<!--------------------------------->

{% block body %}
  <style>
  .wrapper {
      text-align: center;
  }

  .button {
      position: absolute;
      top: 50%;
  }
  </style>
  
  <div class="wrapper">

      <header>
        <h1>Web dictaphone</h1>
      </header>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
          <button class="accept">Send</button>
          <button class="test">Test</button>
        </div>
      </section>

      <section class="sound-clips">


      </section>

    </div>

    <script src="/static/scripts/train.js"></script>

{% endblock %}